In [40]:
import sqlalchemy
import pandas as pd
from sqlalchemy import text

In [41]:
# load tables
df_brands = pd.read_csv('data/df_brands.csv', index_col=0)
df_items = pd.read_csv('data/df_items.csv', index_col=0)
df_receipts = pd.read_csv('data/df_receipts.csv', index_col=0)
df_reward_receipt_items = pd.read_csv('data/df_reward_receipt_items.csv', index_col=0)
df_users = pd.read_csv('data/df_users.csv', index_col=0)

# create db
engine = sqlalchemy.create_engine('sqlite:///fetch_rewards.db', echo = True)
df_brands.set_index('id', inplace=True)
df_brands.to_sql('Brands', con=engine, if_exists='replace', index=True)
df_items.to_sql('Items', con=engine, if_exists='replace', index_label='id')
df_receipts.set_index('id', inplace=True)
df_receipts.to_sql('Receipts', con=engine, if_exists='replace', index=True)
df_reward_receipt_items.to_sql('RewardsReceiptsItems', con=engine, if_exists='replace', index_label='id')
df_users.set_index('id', inplace=True)
df_users.to_sql('Users', con=engine, if_exists='replace', index=True)

2025-01-22 23:37:08,624 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Brands")
2025-01-22 23:37:08,625 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,628 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Brands")
2025-01-22 23:37:08,629 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,632 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2025-01-22 23:37:08,633 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,635 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Brands")
2025-01-22 23:37:08,636 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,638 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,639 INFO sqlalchemy.engine.Engine [raw sql] ('Brands',)
2025-01-22 23:37:08,640 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Brands")
2025-01-22 23:37:08,641 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,641 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Brands")
2025-01-22 23:37:08,642 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,642 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,643 INFO sqlalchemy.engine.Engine [raw sql] ('Brands',)
2025-01-22 23:37:08,644 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Brands")
2025-01-22 23:37:08,644 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,645 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Brands_id")
2025-01-22 23:37:08,646 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,648 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Brands")
2025-01-22 23:37:08,648 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,649 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Brands_id")
2025-01-22 23:37:08,649 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,650 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,650 INFO sqlalchemy.engine.Engine [raw sql] ('Brands',)
2025-01-22 23:37:08,652 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,653 INFO sqlalchemy.engine.Engine
DROP TABLE "Brands"
2025-01-22 23:37:08,653 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2025-01-22 23:37:08,659 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,663 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,664 INFO sqlalchemy.engine.Engine
CREATE TABLE "Brands" (
	id TEXT,
	barcode BIGINT,
	"brandCode" TEXT,
	"categoryCode" TEXT,
	"cpgId" TEXT,
	name TEXT,
	"topBrand" BOOLEAN
)


2025-01-22 23:37:08,664 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2025-01-22 23:37:08,667 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Brands_id" ON "Brands" (id)
2025-01-22 23:37:08,667 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2025-01-22 23:37:08,669 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,672 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,680 INFO sqlalchemy.engine.Engine INSERT INTO "Brands" (id, barcode, "brandCode", "categoryCode", "cpgId", name, "topBrand") VALUES (?, ?, ?, ?, ?, ?, ?)
2025-01-22 23:37:08,681 INFO sqlalchemy.engine.Engine [generated in 0.00552s] (('601ac115be37ce2ead437551', 511111019862, None, 'BAKING', '601ac114be37ce2ead437550', 'test brand @1612366101024', 0), ('601c5460be37ce2ead43755f', 511111519928, 'STARBUCKS', 'BEVERAGES', '5332f5fbe4b03c9a25efd0ba', 'Starbucks', 0), ('601ac142be37ce2ead43755d', 511111819905, 'TEST BRANDCODE @1612366146176', 'BAKING', '601ac142be37ce2ead437559', 'test brand @1612366146176', 0), ('601ac142be37ce2ead43755a', 511111519874, 'TEST BRANDCODE @1612366146051', 'BAKING', '601ac142be37ce2ead437559', 'test brand @1612366146051', 0), ('601ac142be37ce2ead43755e', 511111319917, 'TEST BRANDCODE @1612366146827', 'CANDY_AND_SWEETS', '5332fa12e4b03c9a25efd1e7', 'test brand @1612366146827', 0), ('601ac142be37ce2ead43755b', 511111719885, 'TEST BRANDCODE @1612366146091', 'BAKING', '601ac142be37ce2ead437559', 'test brand @1612366146091', 0), ('601ac142be37ce2ead43755c', 511111219897, 'TEST BRANDCODE @1612366146133', 'BAKING', '601ac142be37ce2ead437559', 'test brand @1612366146133', 0), ('5cdad0f5166eb33eb7ce0faa', 511111104810, 'J.L. KRAFT', None, '559c2234e4b06aca36af13c6', 'J.L. Kraft', None)  ... displaying 10 of 1167 total bound parameter sets ...  ('5a021611e4b00efe02b02a57', 511111400608, 'LIPTON TEA Leaves', None, '5332f5f6e4b03c9a25efd0b4', 'LIPTON TEA Leaves', 0), ('6026d757be37ce6369301468', 511111019930, 'TEST BRANDCODE @1613158231644', 'BAKING', '6026d757be37ce6369301467', 'test brand @1613158231643', 0))
2025-01-22 23:37:08,686 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,688 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2025-01-22 23:37:08,688 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,692 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Items")
2025-01-22 23:37:08,692 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,694 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Items")
2025-01-22 23:37:08,695 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,696 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2025-01-22 23:37:08,697 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,698 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Items")
2025-01-22 23:37:08,698 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,700 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,700 INFO sqlalchemy.engine.Engine [raw sql] ('Items',)
2025-01-22 23:37:08,701 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Items")
2025-01-22 23:37:08,702 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,702 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Items")
2025-01-22 23:37:08,702 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,703 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,704 INFO sqlalchemy.engine.Engine [raw sql] ('Items',)
2025-01-22 23:37:08,704 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Items")
2025-01-22 23:37:08,705 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,705 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Items_id")
2025-01-22 23:37:08,706 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,707 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Items")
2025-01-22 23:37:08,707 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,708 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Items_id")
2025-01-22 23:37:08,708 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,709 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,710 INFO sqlalchemy.engine.Engine [raw sql] ('Items',)
2025-01-22 23:37:08,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,712 INFO sqlalchemy.engine.Engine
DROP TABLE "Items"
2025-01-22 23:37:08,712 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2025-01-22 23:37:08,716 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,717 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,718 INFO sqlalchemy.engine.Engine
CREATE TABLE "Items" (
	id BIGINT,
	barcode TEXT,
	"brandId" TEXT,
	description TEXT,
	"itemPrice" FLOAT,
	deleted FLOAT,
	"competitiveProduct" BOOLEAN
)


2025-01-22 23:37:08,719 INFO sqlalchemy.engine.Engine [no key 0.00091s] ()
2025-01-22 23:37:08,721 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Items_id" ON "Items" (id)
2025-01-22 23:37:08,721 INFO sqlalchemy.engine.Engine [no key 0.00049s] ()
2025-01-22 23:37:08,723 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,726 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,730 INFO sqlalchemy.engine.Engine INSERT INTO "Items" (id, barcode, "brandId", description, "itemPrice", deleted, "competitiveProduct") VALUES (?, ?, ?, ?, ?, ?, ?)
2025-01-22 23:37:08,731 INFO sqlalchemy.engine.Engine [generated in 0.00261s] ((0, '4011', None, 'ITEM NOT FOUND', 26.0, None, None), (1, '028400642255', None, 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', 10.0, None, None), (2, '1234', None, None, 2.56, None, None), (3, '046000832517', None, 'Old El Paso Mild Chopped Green Chiles, 4.5 Oz', 10.0, None, None), (4, '013562300631', None, "Annie's Homegrown Organic White Cheddar Macaroni & Cheese Shells, 6 Oz", 50.0, None, None), (5, '034100573065', None, 'MILLER LITE 24 PACK 12OZ CAN', 29.0, None, None), (6, '075925306254', None, None, 1.0, None, 1), (7, '041000168468', None, 'KNORR ASSORTED PASTA SIDE DISH POUCH IN CARDBORD BX 34.4 OZ', 1.0, None, None)  ... displaying 10 of 568 total bound parameter sets ...  (566, 'B08DQDHR2S', None, 'spigen tempered glass screen protector [glas.tr ez fit] designed foriphone 12 mini - sensor protection / 2 pack', 12.99, None, None), (567, '665290001184', None, 'Berry Strawberry Conventional, 16 Ounce', 3.99, None, None))
2025-01-22 23:37:08,733 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,736 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2025-01-22 23:37:08,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,741 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Receipts")
2025-01-22 23:37:08,742 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,744 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Receipts")
2025-01-22 23:37:08,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,746 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2025-01-22 23:37:08,747 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,748 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Receipts")
2025-01-22 23:37:08,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,750 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,751 INFO sqlalchemy.engine.Engine [raw sql] ('Receipts',)
2025-01-22 23:37:08,751 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Receipts")
2025-01-22 23:37:08,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,753 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Receipts")
2025-01-22 23:37:08,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,754 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,755 INFO sqlalchemy.engine.Engine [raw sql] ('Receipts',)
2025-01-22 23:37:08,755 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Receipts")
2025-01-22 23:37:08,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,757 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Receipts_id")
2025-01-22 23:37:08,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,758 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Receipts")
2025-01-22 23:37:08,758 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,760 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Receipts_id")
2025-01-22 23:37:08,760 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,761 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,761 INFO sqlalchemy.engine.Engine [raw sql] ('Receipts',)
2025-01-22 23:37:08,762 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,763 INFO sqlalchemy.engine.Engine
DROP TABLE "Receipts"
2025-01-22 23:37:08,763 INFO sqlalchemy.engine.Engine [no key 0.00043s] ()
2025-01-22 23:37:08,770 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,773 INFO sqlalchemy.engine.Engine
CREATE TABLE "Receipts" (
	id TEXT,
	"createDate" TEXT,
	"dateScanned" TEXT,
	"finishedDate" TEXT,
	"modifyDate" TEXT,
	"pointsAwardedDate" TEXT,
	"purchaseDate" TEXT,
	"pointsEarned" FLOAT,
	"bonusPointsEarned" FLOAT,
	"bonusPointsEarnedReason" BIGINT,
	"purchasedItemCount" FLOAT,
	"rewardsReceiptStatus" TEXT,
	"totalSpent" FLOAT,
	"userId" TEXT
)


2025-01-22 23:37:08,773 INFO sqlalchemy.engine.Engine [no key 0.00046s] ()
2025-01-22 23:37:08,775 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Receipts_id" ON "Receipts" (id)
2025-01-22 23:37:08,776 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2025-01-22 23:37:08,777 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,782 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,798 INFO sqlalchemy.engine.Engine INSERT INTO "Receipts" (id, "createDate", "dateScanned", "finishedDate", "modifyDate", "pointsAwardedDate", "purchaseDate", "pointsEarned", "bonusPointsEarned", "bonusPointsEarnedReason", "purchasedItemCount", "rewardsReceiptStatus", "totalSpent", "userId") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-01-22 23:37:08,798 INFO sqlalchemy.engine.Engine [generated in 0.01333s] (('5ff1e1eb0a720f0523000575', '2021-01-03 07:25:31.000', '2021-01-03 07:25:31.000', '2021-01-03 07:25:31.000', '2021-01-03 07:25:36.000', '2021-01-03 07:25:31', '2021-01-02 16:00:00', 500.0, 500.0, 1, 5.0, 'FINISHED', 26.0, '5ff1e1eacfcf6c399c274ae6'), ('5ff1e1bb0a720f052300056b', '2021-01-03 07:24:43.000', '2021-01-03 07:24:43.000', '2021-01-03 07:24:43.000', '2021-01-03 07:24:48.000', '2021-01-03 07:24:43', '2021-01-02 07:24:43', 150.0, 150.0, 2, 2.0, 'FINISHED', 11.0, '5ff1e194b6a9d73a3a9f1052'), ('5ff1e1f10a720f052300057a', '2021-01-03 07:25:37.000', '2021-01-03 07:25:37.000', None, '2021-01-03 07:25:42.000', None, '2021-01-02 16:00:00', 5.0, 5.0, 3, 1.0, 'REJECTED', 10.0, '5ff1e1f1cfcf6c399c274b0b'), ('5ff1e1ee0a7214ada100056f', '2021-01-03 07:25:34.000', '2021-01-03 07:25:34.000', '2021-01-03 07:25:34.000', '2021-01-03 07:25:39.000', '2021-01-03 07:25:34', '2021-01-02 16:00:00', 5.0, 5.0, 3, 4.0, 'FINISHED', 28.0, '5ff1e1eacfcf6c399c274ae6'), ('5ff1e1d20a7214ada1000561', '2021-01-03 07:25:06.000', '2021-01-03 07:25:06.000', '2021-01-03 07:25:11.000', '2021-01-03 07:25:11.000', '2021-01-03 07:25:06', '2021-01-02 07:25:06', 5.0, 5.0, 3, 2.0, 'FINISHED', 1.0, '5ff1e194b6a9d73a3a9f1052'), ('5ff1e1e40a7214ada1000566', '2021-01-03 07:25:24.000', '2021-01-03 07:25:24.000', '2021-01-03 07:25:25.000', '2021-01-03 07:25:30.000', '2021-01-03 07:25:25', '2021-01-02 07:25:24', 750.0, 750.0, 4, 1.0, 'FINISHED', 3.25, '5ff1e1e4cfcf6c399c274ac3'), ('5ff1e1cd0a720f052300056f', '2021-01-03 07:25:01.000', '2021-01-03 07:25:01.000', '2021-01-03 07:25:02.000', '2021-01-03 07:25:02.000', '2021-01-03 07:25:02', '2021-01-03 07:25:01', 5.0, 5.0, 3, 1.0, 'FINISHED', 2.23, '5ff1e194b6a9d73a3a9f1052'), ('5ff1e1a40a720f0523000569', '2021-01-03 07:24:20.000', '2021-01-03 07:24:20.000', '2021-01-03 07:24:21.000', '2021-01-03 07:24:21.000', '2021-01-03 07:24:21', '2020-12-26 16:00:00', 500.0, 500.0, 1, 1.0, 'FINISHED', 10.0, '5ff1e194b6a9d73a3a9f1052')  ... displaying 10 of 1119 total bound parameter sets ...  ('603ce7100a7217c72c000405', '2021-03-01 05:07:28.000', '2021-03-01 05:07:28.000', None, '2021-03-01 05:07:29.000', None, '2020-08-16 17:00:00', 25.0, 25.0, 10, 2.0, 'REJECTED', 34.96, '5fc961c3b8cfca11a077dd33'), ('603c4fea0a7217c72c000389', '2021-02-28 18:22:34.962', '2021-02-28 18:22:34.962', None, '2021-02-28 18:22:34.962', None, None, None, None, 8, None, 'SUBMITTED', None, '5fc961c3b8cfca11a077dd33'))
2025-01-22 23:37:08,807 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,810 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2025-01-22 23:37:08,810 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,815 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("RewardsReceiptsItems")
2025-01-22 23:37:08,815 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,817 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("RewardsReceiptsItems")
2025-01-22 23:37:08,817 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,819 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2025-01-22 23:37:08,819 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,821 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("RewardsReceiptsItems")
2025-01-22 23:37:08,821 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,823 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,824 INFO sqlalchemy.engine.Engine [raw sql] ('RewardsReceiptsItems',)
2025-01-22 23:37:08,825 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("RewardsReceiptsItems")
2025-01-22 23:37:08,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,826 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("RewardsReceiptsItems")
2025-01-22 23:37:08,826 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,827 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,827 INFO sqlalchemy.engine.Engine [raw sql] ('RewardsReceiptsItems',)
2025-01-22 23:37:08,828 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("RewardsReceiptsItems")
2025-01-22 23:37:08,829 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,829 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_RewardsReceiptsItems_id")
2025-01-22 23:37:08,830 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,831 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("RewardsReceiptsItems")
2025-01-22 23:37:08,831 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,832 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_RewardsReceiptsItems_id")
2025-01-22 23:37:08,832 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 23:37:08,833 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2025-01-22 23:37:08,833 INFO sqlalchemy.engine.Engine [raw sql] ('RewardsReceiptsItems',)
2025-01-22 23:37:08,835 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,835 INFO sqlalchemy.engine.Engine
DROP TABLE "RewardsReceiptsItems"
2025-01-22 23:37:08,836 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2025-01-22 23:37:08,845 INFO sqlalchemy.engine.Engine COMMIT
2025-01-22 23:37:08,847 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 23:37:08,848 INFO sqlalchemy.engine.Engine
CREATE TABLE "RewardsReceiptsItems" (
	id BIGINT,
	"receiptsId" TEXT,
	"itemId" BIGINT,
	"discountedItemPrice" FLOAT,
	"priceAfterCoupon" FLOAT,
	"finalPrice" FLOAT,
	"itemPurchased" FLOAT,
	"needsFetchReview" BOOLEAN,
	"needsFetchReviewReason" TEXT,
	"pointsEarned" FLOAT,
	"metabriteCampaignId" TEXT,
	"preventTargetGapPoints" BOOLEAN
)


2025-01-22 23:37:08,849 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()

495

### What are the top 5 brands by receipts scanned for most recent month?

In [44]:
# get most recent date
most_recent_date = df_receipts['dateScanned'].max()
most_recent_date

'2021-03-01 15:17:34.772'

In [58]:
query = text(
f'''
SELECT t1.brandId, t4.name, COUNT(DISTINCT t2.receiptsId) AS cnt
FROM Items t1
JOIN RewardsReceiptsItems t2 ON t1.id = t2.itemId
JOIN Receipts t3 ON t2.receiptsId = t3.id
JOIN Brands t4 ON t1.brandId = t4.id
WHERE t3.dateScanned >= DATE('{most_recent_date}', '-1 month')
GROUP BY t1.brandId, t4.name
ORDER BY 3 DESC;
'''
)
with engine.connect() as connection:
    result = connection.execute(query)
    print("Result: ")
    for row in result:
        print(row)

2025-01-23 00:27:39,296 INFO sqlalchemy.engine.Engine
SELECT t1.brandId, t4.name, COUNT(DISTINCT t2.receiptsId) AS cnt
FROM Items t1
JOIN RewardsReceiptsItems t2 ON t1.id = t2.itemId
JOIN Receipts t3 ON t2.receiptsId = t3.id
JOIN Brands t4 ON t1.brandId = t4.id
WHERE t3.dateScanned >= DATE('2021-03-01 15:17:34.772', '-1 month')
GROUP BY t1.brandId, t4.name
ORDER BY 3 DESC;

2025-01-23 00:27:39,299 INFO sqlalchemy.engine.Engine [cached since 1565s ago] ()
Result:
('5bd201f090fa074576779a1a', 'Viva', 1)

There aren't many valid results due to missing values, but the query shows the approach taken to address the problem.

### When considering average spend from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

In [59]:
query = text(
'''
SELECT 
    AVG(CASE WHEN rewardsReceiptStatus = 'REJECTED' THEN totalSpent END) AS AvgRejected,
    AVG(CASE WHEN rewardsReceiptStatus = 'FINISHED' THEN totalSpent END) AS AvgAccepted
FROM Receipts;
'''
)
with engine.connect() as connection:
    result = connection.execute(query)
    print("Result: ")
    for row in result:
        print(row)

2025-01-23 00:27:41,806 INFO sqlalchemy.engine.Engine
SELECT
    AVG(CASE WHEN rewardsReceiptStatus = 'REJECTED' THEN totalSpent END) AS AvgRejected,
    AVG(CASE WHEN rewardsReceiptStatus = 'FINISHED' THEN totalSpent END) AS AvgAccepted
FROM Receipts;

2025-01-23 00:27:41,807 INFO sqlalchemy.engine.Engine [cached since 2107s ago] ()
Result:
(23.326056338028184, 80.85430501930502)

Accepted is greater.

### When considering total number of items purchased from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

In [60]:
query = text(
'''
SELECT 
    SUM(CASE WHEN rewardsReceiptStatus = 'REJECTED' THEN purchasedItemCount END) AS SumRejectedCount,
    SUM(CASE WHEN rewardsReceiptStatus = 'FINISHED' THEN purchasedItemCount END) AS SumAcceptedCount
FROM Receipts;
'''
)
with engine.connect() as connection:
    result = connection.execute(query)
    print("Result: ")
    for row in result:
        print(row)

2025-01-23 00:27:43,503 INFO sqlalchemy.engine.Engine
SELECT
    SUM(CASE WHEN rewardsReceiptStatus = 'REJECTED' THEN purchasedItemCount END) AS SumRejectedCount,
    SUM(CASE WHEN rewardsReceiptStatus = 'FINISHED' THEN purchasedItemCount END) AS SumAcceptedCount
FROM Receipts;

2025-01-23 00:27:43,504 INFO sqlalchemy.engine.Engine [cached since 1956s ago] ()
Result:
(173.0, 8184.0)

Accepted is greater.

### Which brand has the most spend among users who were created within the past 6 months?

In [61]:
query = text(
f'''
SELECT t1.brandId, t5.name, SUM(t2.finalPrice) AS spent
FROM Items t1
JOIN RewardsReceiptsItems t2 ON t1.id = t2.itemId
JOIN Receipts t3 ON t2.receiptsId = t3.id
JOIN Users t4 ON t4.id = t3.UserId
JOIN Brands t5 ON t1.brandId = t5.id
WHERE t4.createdDate >= DATE('{most_recent_date}', '-6 month')
GROUP BY t1.brandId
ORDER BY 3 DESC
LIMIT 1;
'''
)
with engine.connect() as connection:
    result = connection.execute(query)
    print("Result: ")
    for row in result:
        print(row)

2025-01-23 00:27:45,131 INFO sqlalchemy.engine.Engine
SELECT t1.brandId, t5.name, SUM(t2.finalPrice) AS spent
FROM Items t1
JOIN RewardsReceiptsItems t2 ON t1.id = t2.itemId
JOIN Receipts t3 ON t2.receiptsId = t3.id
JOIN Users t4 ON t4.id = t3.UserId
JOIN Brands t5 ON t1.brandId = t5.id
WHERE t4.createdDate >= DATE('2021-03-01 15:17:34.772', '-6 month')
GROUP BY t1.brandId
ORDER BY 3 DESC
LIMIT 1;

2025-01-23 00:27:45,133 INFO sqlalchemy.engine.Engine [cached since 1651s ago] ()
Result:
('592486bee410d61fcea3d130', 'KNORR', 733.0600000000004)